#bg-img{

    background-image: url(IMG_3549.JPG);
    background-repeat: no-repeat;
    height: 1200px;
    width: 1200px;
    background-size: contain;

background-color: midnightblue;

background-position: center center;

/* difference between contain and cover is contain will go until it hits one boundary and then it will stop */

/* cover will go till both the boundaries and go on zooming the image  */

/* center center tells where to zoom in inside the image  */


}




