.box{
border: 2px solid red;
    background-color: aqua;

}



@media (max-width:600px){

     .box{

        background-color: blue;
     }
}

@media (min-width:600px) and (max-width:768px) {

    .box{
        background-color: bisque;
    }
}


@media (min-width:768px) and (max-width:992px){

    .box{

        background-color: blueviolet;
    }
}



@media (min-width:992px) and (max-width:1200px){

    .box{

        background-color: brown;


    }
}




@media (min-width:1200px){

    .box{

        background-color: red;
    }
}




